dist: trusty
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
jobs:
  include:
    - stage: common
      name: "Verify common files are consistent"
      language: javascript
      # Only check on pull requests to master
      if: branch = master AND type = pull_request
      script:
        - git remote add -f b https://github.com/w3c/json-ld-wg.git
        - git remote update
        - git diff --exit-code remotes/b/master -- common
    - stage: examples
      name: "Verify examples are consistent"
      language: ruby
      rvm: 2.5
      before_install:
        - 'gem update --system --conservative || (gem i "rubygems-update:~>2.7" --no-document && update_rubygems)'
        - 'gem update bundler --conservative'
      bundler_args: --without debug
      script: "bundle exec rake test"
    - stage: links
      name: "Check internal links and HTML"
      sudo: required
      services:
        - docker
      # Because (alas) rawgit is end of life, we'll run this only on the master branch.
      if: branch = master
      language: javascript
      script:
        - docker pull stupchiy/checklink
        - docker run -it stupchiy/checklink -b -X '(http|https|mailto):' "https://labs.w3.org/spec-generator/?type=respec&url=https://w3c.github.io/json-ld-framing/index.html?specStatus=WD&shortName=json-ld11-framing"
    - stage: echidna
      name: "Echidna Publication"
      language: javascript
      # Only on push to "publications" branch
      if: branch = publications AND type = push
      env:
        - URL="https://w3c.github.io/json-ld-framing/ECHIDNA"
        - DECISION="https://www.w3.org/2018/json-ld-wg/Meetings/Minutes/2018/2018-09-28-json-ld#resolution2"
        - secure: "ENvBrukz6Vc7dQO4NFq9cMBIECdLR5ZCWrYswMPqI8h08rFVmUVjrESmzXsvM3GsZxCadVJq8Ie7bPl81zcws6eQ84ltPvyFDz1Fenjakbji7/1Frh/awlPfP/RBcIcxmcGpFiNtUXxDXmk9uEU9imroXBmdhidAJTl17VRzeTaYoCMayMRVNr6bzZLpc/j2mqgfx7TvKdeDLHYQrCuISf+ygkfr21/3a0IDPZEcqclUPg37kAYYRWjyXry5v0DIjG75Ev+plUVz7GYaRDz263Qr09pcl4BnwPepi1vPDiy1w3luTMfx08wFuS8Z7d6Ngfkl4CvMvDiY9ym0jTMdIAkOgXGBl6XA9q1aod5kRYAtp4x8hK+2igZT0yZqYj3gzsm5bwZLNLey55Ua3N9WsDVKBcmNYx4+P/KMwdsq9Av4ak8PtSEgaKtytotlAPWEX6CVz9Qoq5rgnzdtzqDK01/URbfEmV/Mg3Chu2hRfPJvUYU/jQvXdasX2qTAQucd2MjCwXRC4HeaNMDXFNicBIvYW8R/1xHJ09erNrxIiFvgVnnXHTyALlNe0UqsEE5pxbdo0FWaFlBjM+udjIHY/c/bKd247QMiTGRKidvkC2qD0yb2kJstPXZ1PbFdrreZGDsZ9z8N19Xvw7oi4VUUF68F/l8+Me9TwMZDxpHbMVw="
      script:
        - curl "https://labs.w3.org/echidna/api/request" --data "url=$URL" --data "decision=$DECISION" --data "token=$TOKEN" --data "editorial=true"
